{% extends "base.html" %}

{% block content %}

<div class="card">
    <h3>🎓 Turmas</h3>

    <form method="POST">
        <label>Nome da turma:</label><br>
        <input name="nome" required>
        <button type="submit">Adicionar</button>
    </form>
</div>

<div class="card">
    <h4>Turmas cadastradas</h4>
    {% if turmas %}
        {% for turma in turmas %}
            <p>{{ turma[1] }}</p>
        {% endfor %}
    {% else %}
        <p>Nenhuma turma cadastrada.</p>
    {% endif %}
</div>

{% endblock %}
